<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Responsive HTML5 Website Template for Developers | 3rd Wave Media</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website landing Page for Developers">
    <meta name="author" content="3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    
    <!-- Theme CSS -->  
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            
            <%= image_tag("newprofile.jpg", class: "profile-image img-responsive pull-left")%>
            <div class="profile-content pull-left">
                <h1 class="name">Samuel Whitley</h1>
                <h2 class="desc">Ruby Developer</h2>   
                <ul class="social list-inline">
                        
                    
                    <li><a href="https://www.linkedin.com/pub/samuel-whitley/b4/951/a26"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/samuel-whitley"><i class="fa fa-github-alt"></i></a></li>                  
                                     
                </ul> 
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="mailto:samuel.whitley89@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>              
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I have just graduated from the Ruby on Rails course from the Iron Yard code school in Atlanta, Ga. During the intense 12 week course I learned what I believe to be a great foundation for my entry into software development. Topics such as HTML, CSS, Ruby on Rails, and Git were used in the classroom on a daily basis for repetition and for better understanding. In addition to writing a bunch of code. I got the chance to work in a group of students with different skills to build apps. This experience was definitely one of the biggest learning experiences during the course. It taught me that communication between people in the group was key to building a successful app.
 </p>    
         
        <p></p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Projects</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                <h3 class="title"><a href="" target="_blank">Low Apple Juice</a></h3>
                                <p class="summary">Send That last text before your phone dies.</p>
                                <div class="featured-image">
                                    <a href="https://github.com/NoAppleJuice/applejuice-api" target="_blank"></a>
                                    
                                    <%= image_tag("createlevels.png", class: "img-responsive project-image")%>
                                    
                                    <div class="ribbon">
                                        <div class="text">New</div>
                                        </div>
                                    </div>
                                    
                                <div class="desc text-left">                                    
                                    <p></p>
                                    <p>I wrote a JSON api in rails for an Iphone app that sends a text right before the phone dies. I used a Twilio programable number to send the mesages from my server.</p>
                                </div><!--//desc-->         
                                <a class="btn btn-cta-secondary" href="https://github.com/NoAppleJuice/applejuice-api" target="_blank"><i class="fa fa-github-alt"></i> GitHub</a>                 
                            </div><!--//item-->
                            <hr class="divider" />
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="" target="_blank">
                                
                                <%= image_tag("playons.png", class: "img-responsive project-image")%>
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="https://github.com/team-manager-group-2/team_manager" target="_blank">
                                    Play on - Team Manager App</a></h3>
                                    <p>I participated in a three day hackathon where I worked in a group that consisted of IOS and Front end students. We attempted to build an app to help people manage a sports leauge.</p>
                                    <p><a class="more-link" href="https://github.com/team-manager-group-2/team_manager" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="" target="_blank">
                                
                                <%= image_tag("etsyremake.png", class: "img-responsive project-image")%>
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="https://github.com/samuel-whitley/etsy_searcher" target="_blank">Etsy Remake</a></h3>
                                    <p>First time using css and html in any capacity. Attempted to recreate an etsy page. I used the etsy api so I could bring in the images and the links to their etsy page.</p>
                                    <p><a class="more-link" href="https://github.com/samuel-whitley/etsy_searcher" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                                                       
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="" target="_blank">
                                
                                <%= image_tag("tictactoe.png", class: "img-responsive project-image")%>
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="https://github.com/samuel-whitley/labs/tree/master/01-15" target="_blank">TicTacToe - Command line tit tac toe app</a></h3>
                                    <p> Pretty basic two player tictac toe app written in ruby.</p>
                                    <p><a class="more-link" href="https://github.com/samuel-whitley/labs/tree/master/01-15" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
            
                
                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Experience</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"> Student - <span class="place"><a href="#">The Iron Yard</a></span> <span class="year">(January 2015 - March 2015)</span></h3>
                                <p>Participated in a 12 week course that covered Ruby, Rails, HTML5, CSS3, and version control(git&github). Worked in several group projects that consisted of front-end, IOS, and Ruby on Rails students to build a full stack app.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Sales - <span class="place"><a href="#">Phones Unlimited</a></span> <span class="year">(February 2013 - December 2015)</span></h3>
                                <p>Contacted potential customers for potential sales. Kept track of phones and sim cards through the use of microsoft excel. Kept contact with current customers through phone calls and email.
</p>
                            </div><!--//item-->
                            
                            <div class="item">
                                <h3 class="title">Computer Tech - <span class="place"><a href="#">Bob's Computer Place</a></span> <span class="year">(2012 - 2013)</span></h3>
                                <p>Removed viruses from computers with recovery media and re-formatting. Used macrium reflect to create images of customers computers to back-up data. 

</p>
                            </div><!--//item-->
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">My GitHub</h2>
                          
                        <!--//Usage: http://caseyscarborough.com/projects/github-activity/ -->  
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->
                        
                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Atlanta, US</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:samuel.whitley89@gmail.com">samuel.whitley89@gmail.com</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Blog:</span><a href="http://samuelwhitley89.wordpress.com">samuelwhitley89.wordpress.com</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            
                            
                            <div class="skillset">
                               
                                
                               
                                
                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3<span class="level-label">beginner</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="40%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Ruby on Rails<span class="level-label">Intermediate</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="50%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Git<span class="level-label">Intermediate</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="60%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->

                                <!--<p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Coderwall</a></p> -->
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                
                
                <aside class="blog aside section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Blog Posts</h2>
                       
                        <div id="rss-feeds" class="content">

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list music aside section">
                    <div class="section-inner">
                        <h2 class="heading">Favourite coding music</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-headphones"></i> <a href="http://open.spotify.com/track/4VqPOruhp5EdPBeR92t6lQ">Muse, Uprising</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="http://open.spotify.com/track/1o22EcqsCANhwYdaNOSdwS">Alt-J,Tessellate</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="http://open.spotify.com/track/0Uro2xUVsEHQNKR5QL4Lku">Radiohead-Fake plastic trees</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="http://open.spotify.com/track/18PbKNh8nuvrsq54GpCkoK">Radio-Creep</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                
                
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
     
</body>
</html> 

